<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Homepage</title>
</head>
<body>
  <div>
      <header>
        <h1>HOMEPAGE</h1>
      </header>

      <selection>
        <ul>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/actors">Actors</a></li>
        </ul>
      </selection>

  </div>
</body>
</html>
